	<!-- Data Access Section -->
<section id="data-access" class="content-section text-center">
	<div class="container">
		<div class="col-lg-11 col-lg-offset-0">
			<h2 data-i18n="data.access.header"></h2>
			<p data-i18n="data.access.text"></p>
			<div id="DacTable"></div>
			<form name="accessForm" id="accessForm" onsubmit="requestAccess(this);return false;" method="POST">
				<div class="form-group hidden">
					<label for="applicationDate" data-i18n="data.access.applicationDate"></label>
					<input type="date" name="applicationDate" class="form-control" id="applicationDate">
				</div>
				<div class="form-group">
					<label for="applicant" data-i18n="data.access.applicant"></label>
					<input type="textfield" name="applicant" class="form-control" id="applicant" placeholder="Dr. rer. nat. Benjamin Button" required="true">
				</div>
				<div class="form-group">
					<label for="applicantPosition" data-i18n="data.access.applicantPosition"></label>
					<input type="textfield" name="applicantPosition" class="form-control" id="applicantPosition" placeholder="Head of the core facility for age-related research." required=true>
				</div>
				<div class="form-group">
					<label for="principalInvestigator" data-i18n="data.access.principalInvestigator"></label>
					<input type="textfield" name="principalInvestigator" class="form-control" id="principalInvestigator" placeholder="Mr. Gateau" required=true>
				</div>
				<div class="form-group">
					<label for="institution" data-i18n="data.access.institution"></label>
					<input type="textfield" name="institution" class="form-control" id="institution" placeholder="University of New Orleans" required=true>
				</div>
				<!--
				<div class="form-group hidden">
					<label for="datasets" data-i18n="datasets"></label>
					<input type="textfield" name="datasets", class="form-control" id="datasets" placeholder="EGAD00000000001,EGAD00000000002" required=true>
				</div>
				-->
				<div class="form-group">
					<label for="projectOutline" data-i18n="data.access.projectOutline"></label>
					<textarea rows="4" name="projectOutline" class="form-control" id="projectOutline" required=true></textarea>
				</div>
				<div class="form-group">
					<label for="hypothesis" data-i18n="data.access.hypothesis"></label>
					<textarea rows="2" name="hypothesis" class="form-control" id="hypothesis" required=true></textarea>
				</div>
				<div class="form-group">
					<label for="ethicalVoteInPlace" data-i18n="data.access.ethicalVoteInPlace"></label>
					<div class="input-group">
						<input type="radio" id="ethicalNo" name="ethicalVoteRadio" checked>
						<label class="custom-control-label" for="ethicalNo" data-i18n="No"></label>
					</div>
					<div class="input-group">
						<input type="radio" id="ethicalYes" name="ethicalVoteRadio">
						<label class="custom-control-label" for="ethicalYes" data-i18n="Yes"></label>
					</div>
				</div>
				<input type="submit" name="sendButton" value="Send Mail" class="btn btn-default">
			</form>
			<div id="form-output"></div>
		</div>
	</div>
	<script type="text/javascript">
		let dacTable = new DacTable(studyTable);

		let dacView = {
			view: () => {
				return dacTable.m_dacTable();
			}
		}

		m.mount(document.getElementById("DacTable"), dacView);
	</script>
	<script type="text/javascript" src="{{ "/js/emailutils.js" | prepend: site.url }}"></script>
	<script type="text/javascript">

	function requestAccess(accessForm, selectedData = studyTable.getSelectedDatasetsByDacs()) {		
		let encodedRecepientMail = '{{ site.email-data }}';
		let cc = '';
		let bcc = '';
		let subject = '';
		let body = '';
		let attachmentHeader = 'Please do not alter anything below.\n-- ';
		let attachment = '';
		let formElements = accessForm.elements;

		let submitDate = Date.now(); 
		let	applicant = formElements.namedItem('applicant').value;
		let	applicantPosition = formElements.namedItem('applicantPosition').value;
		let	principalInvestigator = formElements.namedItem('principalInvestigator').value;
		let	institution = formElements.namedItem('institution').value;
		let	datasetIds = '';
		let	projectOutline = formElements.namedItem('projectOutline').value;
		let	hypothesis = formElements.namedItem('hypothesis').value;
		let	ethicalVote = formElements.namedItem('ethicalYes').checked;

		attachment = JSON.stringify(selectedData);
		datasets = selectedData.map((dac) => {
			return dac.datasets;
		});
		// flatten array of arrays to remove grouping by dacs
		datasets = Array.prototype.concat.apply([], datasets);

		datasetIds = datasets.map((ds) => {
			return ds.egaStableId;
		});


		body = `To Whom it May Concern,

I am ${applicant} and I work as ${applicantPosition} at ${institution}.
The principal investigator is ${principalInvestigator}.

We would like to get access to ${datasetIds} and plan to use the data for the following project:
${projectOutline}

I want to test the following hypothesis:

${hypothesis}

Many Thanks,
${applicant}




${attachmentHeader}
${attachment}`
		subject = `Access Request on ${datasetIds}`;
		try {
			document.getElementById('form-output').innerHTML = `<textarea class="form-control" rows="15" disabled>${body}</textarea>`;
			sendEmail(encodedRecepientMail, subject, body);
		} catch(error) {
			alert('An unexpected error occurred.');
		}
	}
	</script>
</section>
