    <!-- Data Section -->
    <section id="data" class="content-section text-center">
        <div class="container">
            <div class="col-lg-11 col-lg-offset-0">

                <h2 data-i18n="data.title"></h2>

                <p data-i18n="[html]data.paragraph1"></p>

                <p data-i18n="[html]data.paragraph2"></p>

                <p data-i18n="[html]data.paragraph3"></p>

                <div class="StudiesTable"></div>

                <script src="{{ "/js/lodash@4(lodash.min.js+lodash.fp.min.js).js" | prepend: site.url }}"></script>
                <script src="{{ "/js/mithril.min.js" | prepend: site.url }}"></script>
                <script src="{{ "/js/data.js" | prepend: site.url }}"></script>
                <script type="text/javascript">

                        // Data retrieval will be substituted by DB requests, as soon as necessary.
                        const data = {
                            studies: Support.retrieveData("{{ site.url }}/assets/data/studies.json"),
                            datasets: Support.retrieveData("{{ site.url }}/assets/data/datasets.json"),
                            dacs: Support.retrieveData("{{ site.url }}/assets/data/dacs.json")
                        };

                        let studyTable = new StudyTable(data.dacs, data.studies, data.datasets);

                        let studyTableView = {
                            view: () => {
                                return studyTable.m_studyTable();
                            }
                        }

                        m.mount(document.getElementsByClassName("StudiesTable")[0], studyTableView);

                        // /* Insert a table of the selected datasets and DACs. Note that the m.mount() takes care to
                        //    automatically update the DOM upon data changes! */
                        // m.mount(document.getElementById("SelectionTable"), selectionTableView);


                </script>
            </div>
        </div>
    </section>