    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Human genome sequencing and other omics data modalities are of
                critical importance for biomedical research and the future
                development of healthcare.
                GHGA will provide the infrastructure to meet both the desire
                to handle omics data in an open and FAIR manner
                and the need to keep personal data safe and secure. Other than
                other European infrastructures, as a National consortium, GHGA
                will have the ability to address the legal requirements specific
                to Germany, enabling German researchers to help shape future
                international standards for data exchange and take on leading
                roles in international research consortia.
                <br>
                <br>
                Applicant Institution:<b> The German Cancer Research Center DKFZ, Heidelberg</b><br>
                Spokesperson:<b> Dr. Oliver Stegle</b>
                <br>
                <br>
                <a href="documents/Letter_of_Intent_GHGA.pdf"> GHGA Letter of Intent</a>
                </p>


                <h3>Core Objectives of GHGA</h3>
                <ol>
                  <li>Provide a national secure and
                    trustworthy <b>long-term archive of human omics data</b>
                    federated with the EGA</li>
                  <li><b>Streamline data deposition</b>
                    by direct data and metadata transfer from major national
                    omics centers</li>
                  <li>Provide central <b>infrastructure
                    for distributed data access committees</b>, thereby facilitating
                    data access and reuse for research</li>
                  <li><b>Engage communities</b> to
                    encourage responsible data sharing of omics data and train
                    members of the communities to leverage the scientific potential
                    of data infrastructures and community reference datasets.</li>
                  <li>Address <b>legal and ethical
                    barriers to data sharing</b> through a unified ethico-legal
                    framework</li>
                  <li>Reach out to communities and <b>train the
                    next generation of scientists</b> on efficient and responsible use and
                    management of omics data in research</li>
                  <li><b>Increase FAIRness of omics data</b> and facilitate
                    embedding with national and international data resources
                    and infrastructures</li>
                  <li>Provide <b>community-specific data portals</b> to meet their
                    specific needs for datasets and analytical tools.</li>
                  <li><b>Democratize access to and analysis/reprocessing of
                    large-scale omics data</b> for research through a
                    cloud-based analytics platform</li>
                  <li><b>Increase the value of research data</b> by integrating
                    multiple omics modalities and connecting omics data to
                    phenotype data</li>
            </div>
        </div>
    </section>
