    <!-- Communities Section -->
    <section id="communities" class="container content-section text-center">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Communities</h2>
        </div></div>
        <div class="media">
            <img class="align-self-start lg-4 src=" src="img/GHGA_community-diagramm_v2.png"
             alt="Responsive image" style="max-width:100%"/>
             <div class="media-body">
              <p>Initially, the focus of GHGA will be on the cancer and rare disease communities.
                  Major data generators will be encouraged to deposit their data
                  in GHGA, and community reference datasets (i.e. data likely
                  to be used regularly in downstream analyses) will be developed.
                  Interactions with the communities will take place in targeted
                  workshops, vial talks and/or panel discussions at general
                  conferences and meetings.
                  </p></div></div>
          <div class="clearfix visible-lg"></div>
          <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
                  <p>
                  On a broader scale, interactions will also take place with
                  other GHGA users, including human omics data researchers, data
                  scientists, clinical researchers, physicians, and citizen
                  scientists.
                  </p>
                  <p>
                  An important aim of GHGA is to reach out to patient representatives
                  and the general public, to raise awareness for the value
                  of omics research and data sharing, while addressing general
                  concerns and questions about the safety, privacy and data
                  ownership when using such large scale human data.
                  </p>

                  <p>GHGA received Letters of Support from the following Institutions and Societies</p>
                  <ul>
                    <li>European Allicance for Personalised Medicine EAPM</li>
                    <li>Global Alliance for Genomics & Health GA4GH</li>
                    <li>German Network for Bioinformatics Infrastructure De.NBI</li>
                    <li>McGill University - Centre of Genomics and Policy CGP</li>
                    <li>ELIXIR Europe</li>
                    <li>Tryggve and Tryggve 2 Projects</li>
                    <li>Genomics England</li>
                    <li>Deutsches Konsortium für Translationale Krebsforschung DKTK</li>
                    <li>European Open Science Cloud</li>
                    <li>International Cancer Research Consortium, ICGC-ARGO Project</li>
                    <li>Allianz Chronischer Seltener Erkrankungen (ACHSE)</li>
                    <li>National Aktionsplan für Menschen mit Seltenen Erkrankungen NAMSE</li>
                    <li>European Canadian Cancer Network EUCANCan</li>
                    <li>International Human Epigenome Consortium IHEC</li>
                    <li>NFDI4Microbiota Consortium</li>
                    <li>European Reference Network for Rare Neurological Diseases ERN-RND and European Reference Network for Rare Kidney Diseases ERKNet</li>
                    <li>H2020 Project Solve-RD</li>
                    <li>Deutsche Gesellschaft für Gynäkologie und Geburtshilfe e.V. DGGG</li>
                    <li>Deutsche Gesellschaft für Innere Medizin e.V. DGIM</li>
                    <li>Deutsche Gesellschaft für Neurologie DGN</li>
                    <li>Deutsche Gesellschaft für Senologie e.V.</li>
                    <li>Deutsche Gesellschaft für Gastroenterologie, Verdauungs- und Stoffwechselkrankheiten DGVS</li>
                    <li>Deutsche Krebsgesellschaft e.V. DKG</li>
                    <li>Deutsche Gesellschaft für HNO-Heilkunde, Kopf- und Hals-Chirurgie e.V.</li>
                    <li>Institut für Pathologie, Universitätsklinik Dresden</li>
                    <li>Amazon Web Services</li>
                    <li>Microsoft Deutschland</li>
                  </ul>
            </div>
          </div>
          </div>
    </section>
