    <!-- Communities Section -->
    <section id="communities" class="container content-section text-center">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 data-i18n="commmunities.title"></h2>
        </div></div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
            <img src="img/GHGA_community-diagramm_v2.png" class="img-fluid" alt="Responsive image" style="max-width:100%;
            padding-left:5px; padding-right:5px; padding-bottom:10px;"/></div>

            <div class="col-lg-4">
                  <p data-i18n="communities.paragraph1"></p>
            </div>
        </div>
        <div class="clearfix visible-lg"></div>
        <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p data-i18n="communities.paragraph2"></p>
            <p data-i18n="communities.paragraph3"></p>
            <p data-i18n="communities.letterOfSupport"></p>
              <ul>
                <li>European Alliance for Personalised Medicine EAPM</li>
                <li>Global Alliance for Genomics & Health GA4GH</li>
                <li>German Network for Bioinformatics Infrastructure de.NBI</li>
                <li>McGill University - Centre of Genomics and Policy CGP</li>
                <li>ELIXIR Europe</li>
                <li>Tryggve and Tryggve 2 Projects</li>
                <li>Genomics England</li>
                <li>Deutsches Konsortium für Translationale Krebsforschung DKTK</li>
                <li>European Open Science Cloud EOSC</li>
                <li>International Cancer Research Consortium, ICGC-ARGO Project</li>
                <li>Allianz Chronischer Seltener Erkrankungen ACHSE</li>
                <li>Nationaler Aktionsplan für Menschen mit Seltenen Erkrankungen NAMSE</li>
                <li>European Canadian Cancer Network EUCANCan</li>
                <li>International Human Epigenome Consortium IHEC</li>
                <li>NFDI4Microbiota Consortium</li>
                <li>European Reference Network for Rare Neurological Diseases ERN-RND and European Reference Network for Rare Kidney Diseases ERKNet</li>
                <li>H2020 Project Solve-RD</li>
                <li>Deutsche Gesellschaft für Gynäkologie und Geburtshilfe e.V. DGGG</li>
                <li>Deutsche Gesellschaft für Innere Medizin e.V. DGIM</li>
                <li>Deutsche Gesellschaft für Neurologie DGN</li>
                <li>Deutsche Gesellschaft für Senologie e.V.</li>
                <li>Deutsche Gesellschaft für Gastroenterologie, Verdauungs- und Stoffwechselkrankheiten DGVS</li>
                <li>Deutsche Krebsgesellschaft e.V. DKG</li>
                <li>Deutsche Gesellschaft für HNO-Heilkunde, Kopf- und Hals-Chirurgie e.V.</li>
                <li>Institut für Pathologie, Universitätsklinik Dresden</li>
                <li>Amazon Web Services</li>
                <li>Microsoft Deutschland</li>
              </ul>
            </div>
          </div>
          </div>
    </section>
