    <!-- Communities Section -->
    <section id="communities" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Communities</h2>
                <div class="col-md-12">
                <div class="pull-left">
                <img src="img/GHGA_community-diagramm_v2.png" class="img-fluid" alt="Responsive image"/></div>
                <div class="pull-left">
                <p>Given the importance of omics data across biomedical domains,
                  there are several communities to whom the GHGA infrastructure
                  will be highly relevant.
                  </p>
                  <p>
                  Initially, the focus of GHGA will be on the cancer and rare disease communities.
                  Major data generators will be encouraged to deposit their data
                  in GHGA, and community reference datasets (i.e. data likely
                  to be used regularly in downstream analyses) will be developed.
                  Interactions with the communities will take place in targeted
                  workshops, vial talks and/or panel discussions at general
                  conferences and meetings.
                  </p>
                  <p>
                  On a broader scale, interactions will also take place with
                  other GHGA users, including human omics data researchers, data
                  scientists, clinical researchers, physicians, and citizen
                  scientists.
                  </p>
                  <p>
                  An important aim of GHGA is to reach out to patient representatives
                  and the general public, to raise awareness for the value
                  of omics research and data sharing, while addressing general
                  concerns and questions about the safety, privacy and data
                  ownership when using such large scale human data.
                  </p>
                  <p>
                  The table below shows some of the scientific societies,
                  research networks, and patient networks that have already
                  expressed their interest in GHGA. Taken together, these
                  societies represent over 60,000 physicians and researchers
                  in Germany.
                </p>
                </div>
              </div>
              </div>
                <div class="container">
                  <div class="col-lg-8 col-lg-offset-2">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Network/Society</th>
                        <th>Role and members</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Global Alliance for Genomics and Health (GA4GH)</td>
                        <td>Internation organization for establishing standards
                          for the use of genomics in health. The network spans
                          more than 500 members from over 90 countries</td>
                      </tr>
                      <tr>
                        <td>ELIXIR Europe</td>
                        <td>Supports key life science resources via databases, software tools, cloud infrastructure, training and education (intergovernmental organization bringing together over 220 research organizations)</td>
                      </tr>
                      <tr>
                        <td>Deutsches Konsortium für Translationale Krebsforschung (DKTK, German Cancer Consortium)</td>
                        <td>National network for translational cancer research, comprising more than 20 research institutions and university hospitals. Represents more than 1,000 individual researchers in this field in Germany</td>
                      </tr>
                      <tr>
                        <td>Alliance of rare disorders (ACHSE)</td>
                        <td>Umbrella organization that covers close to 130 self-help organizations nationally, thus covering a substantial fraction of rare disease patients through multidisciplinary teams and innovative diagnostics</td>
                      </tr>
                      <tr>
                        <td>Translate-NAMSE</td>
                        <td>German healthcare research network focused on diagnostic pathway for rare diseases patients through multidisciplinary teams and innovative diagnostics</td>
                      </tr>
                      <tr>
                        <td>European Reference Networks (ERN-RND) for Rare and Complex Disease and for rare kidney diseases ERKNet</td>
                        <td>Represents ERNs and patient advocacy groups (120 German expertise centers)</td>
                      </tr>
                      <tr>
                        <td>H2020 Project Solve-RD</td>
                        <td>H2020 diagnostic research project for rare disease, aims to solve the unsolved rare diseases (23 internation RD centers)</td>
                      </tr>
                      <tr>
                        <td>Deutsche Gesellschaft für Gynäkologie und Geburtshilfe (DGGGG e.V., German Society for OB-GYN)</td>
                        <td>OB-GYN representation at the political level promoting women's health and perinatlogoy (9,350 members)</td>
                      </tr>
                      <tr>
                        <td>Deutsche Gesellschaft für Neurologie e.V. (DGN, German Society for Neurology)</td>
                        <td>German medical society for neurology (9,529 members)</td>
                      </tr>
                      <tr>
                        <td>German Society of Internal Medicine (DGIM)</td>
                        <td>Representation of physicians (internal medicine) interested in molecular omics data (27,000 members)</td>
                      </tr>
                      <tr>
                        <td>Centers for Rare Diseases</td>
                        <td>Represents rare disease researchers and health care professionals (35 centers at university hospitals)</td>
                      </tr>
                      <tr>
                        <td>Deutsche Gesellschaft für Gastroenterologie, Verdauungs- und Stoffwechselkrankheiten (DGVS, German Gastroenterological Society)</td>
                        <td>Represents physicians and researchers in the field of gastroentereological research (6,240 members)</td>
                      </tr>
                      <tr>
                        <td>Fachgruppe Bioinformatik (German Society for Bioinformatics)</td>
                        <td>Representation of the Bioinformatics and Computational Biology community in Germany (1,034 members)</td>
                      </tr>
                      <tr>
                        <td>Dt. Gesellschaft für Hals-Nasen-Ohren-Heilkunde, Kopf-und Hals-Chirurgie e.V.</td>
                        <td>Representation of ear, nose, throat physicians (5,000 members)</td>
                      </tr>
                    </tbody>

                  </table>
            </div>
        </div>
    </section>
