<!-- Consortium Section -->
<section id="consortium" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Consortium</h2>
          </div>
          <div class="col-lg-8 col-lg-offset-1">
            <img src="img/logos/all_logos_ghga.png" class="img-responsive" alt="Responsive image"/>
            </div>
          <div class="clo-lg-8 col-lg-offset-2">
          <br>
          <p>
          The <b>German Cancer Research Center</b> is the Applicant Institution
          and <b>Oliver Stegle</b> is the spokesperson for the GHGA consortium.
          </p>
          <h3>(Co-)Applicant Institutions and Principal Investigators</h3>
            <dl>
              <dt>The German Cancer Research Center, Heidelberg</dt>
              <dd>Oliver Stegle, Benedikt Brors, Ivo Buchhalter,
                Daniel Hübschmann, Martin Lablans, Peter Lichter</dd>
              <dt>Eberhard-Karls-Universität Tübingen, Tübingen</dt>
              <dd>Oliver Kohlbacher, Jens Krüger, Sven Nahnsen, Thomas Walter</dd>
              <dt>University Hospital Tübingen, Tübingen</dt>
              <dd>Holm Graessner, Nisar Malek, Stephan Ossowski, Olaf Rieß</dd>
              <dt>Charité - Universitätsmedizin Berlin, Berlin</dt>
              <dd>Michael Hummel, Thorsten Schlomm</dd>
              <dt>Technische Universität München, München</dt>
              <dd>Julien Gagneur, Thomas Meitinger, Juliane Winkelmann</dd>
              <dt>Europäisches Laboratorium für Molekularbiologie, Heidelberg</dt>
              <dd>Oliver Stegle, Peer Bork, Wolfgang Huber, Jan Korbel</dd>
              <dt>Max Delbrück Center for Molecular Medicine, Berlin</dt>
              <dd>Dieter Beule, Uwe Ohler</dd>
              <dt>Technische Universität Dresden, Dresden</dt>
              <dd>Andreas Dahl, Wolfgang E. Nagel</dd>
              <dt>University Hospital Heidelberg, Heidelberg</dt>
              <dd>Dirk Jäger, Julio Saez-Rodriguez, Christoph Schickhardt,
                Eva Winkler</dd>
              <dt>Heidelberger Akademie der Wissenschaften, Heidelberg</dt>
              <dd>Fruzsina Molnár-Gábor</dd>
              <dt>Universität zu Köln, Köln</dt>
              <dd>Viktor Achter, Ulrich Lang, Susanne Motameny</dd>
              <dt>Universitätsklinikum Schleswig-Holstein, Kiel</dt>
              <dd>Philip Rosenstiel</dd>
              <dt>Helmholtz Zentrum München, München</dt>
              <dd>Thomas Meitinger, Annette Peters, Juliane Winkelmann</dd>
              <dt>Deutsches Zentrum für Neurodegenerative Erkrankungen e.V., Bonn</dt>
              <dd>Joachim Schultze</dd>
              <dt>Universität des Saarlandes, Saarbrücken</dt>
              <dd>Jörn Walter</dd>
              <dt>German National Cohort, Heidelberg</dt>
              <dd> --- </dd>
            </dl>
            <h3>Partner Institutions and Principal Investigators</h3>
            <dl>
              <dt>EMBL-EBI - European Bioinformatics Institute, Cambridge, UK</dt>
              <dd>Thomas Keane</dd>
              <dt>CISPA - Helmholtz Center for Information Security, Saarbrücken</dt>
              <dd>Mario Fritz, Ninja Marnau</dd>
              <dt>Leibniz-Rechenzentrum, München</dt>
              <dd>Stephan Hachinger</dd>
              <dt>Helmholtz Centre for Infection Research, Braunschweig</dt>
              <dd>Alice McHardy</dd>
              <dt>National Center for Tumor Diseases, Heidelberg and Dresden</dt>
              <dd>Stefan Fröhling, Hanno Glimm</dd>
            </dl>
        </div>

    </div>
</section>
