<!-- Consortium Section -->
<section id="consortium" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Consortium</h2>
          <p> The key institutions of the GHGA consortium are
            the <b>German Cancer Research Center (DKFZ)</b>,
            the <b>University of Tübingen (EKUT)</b>, and the
            <b>European Molecular Biology Laboratory (EMBL)</b>.
          </p>
          <h2>Partner Institutions</h2>
          <p>
              University Hospital Tübingen, Tübingen <br>
              Charité, Berlin <br>
              Technische Universität München, München <br>
              Max Delbrück Cetner for Molecular Medicine, Berlin <br>
              Technische Universität Dresden, Dresden <br>
              University Hospital Heidelberg, Heidelberg <br>
              Heidelberger Akademie der Wissenschaften, Heidelberg <br>
              Universität zu Köln, Köln <br>
              Universitätsklinikum Schleswig-Holstein, Kiel <br>
              Helmholtz Zentrum München, München <br>
              Dt. Zentrum für Neurodegenerative Erkrankungen e.V., Bonn <br>
              Universität des Saarlandes, Saarbrücken <br>
              German National Cohort, Heidelberg
          </p>
          <h3>Principal Investigators</h3>
          </div>
        <div class="col-lg-4 col-lg-offset-2">
          <p>
          Viktor Achter, UzK, Cologne<br>
          Dieter Beule, MDC, Berlin<br>
          Peer Bork, EMBL, Heidelberg<br>
          Benedikt Brors, DKFZ, Heidelberg<br>
          Ivo Buchhalter, DKFZ, Heidelberg<br>
          Andreas Dahl, TU Dresden, Dresden<br>
          Julien Gagneur, TUM, Munich<br>
          Holm Graessner, UKT, Tübingen<br>
          Wolfgang Huber, EMBL, Heidelberg<br>
          Daniel Hübschmann, DKFZ, Heidelberg<br>
          Michael Hummel, Charité, Berlin<br>
          Dirk Jäger, UHH, Heidelberg<br>
          Oliver Kohlbacher, EKUT, Tübingen<br>
          Jan Korbel, EMBL, Heidelberg<br>
          Jens Krüger, EKUT, Tübingen<br>
          Martin Lablans, DKFZ, Heidelberg<br>
          Ulrich Lang, UzK, Cologne<br>
          Peter Lichter, DKFZ, Heidelberg<br>
          Nisar Malek, UKT, Tübingen<br>
          Thomas Meitinger, HMGU & TUM, Munich<br>
          Fruzsina Molnár-Gábor, HAdW, Heidelberg<br>
          Susanne Montameny, UzK, Cologne<br>
          Wolfgang E. Nagel, TU Dresden, Dresden<br></p>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
          Sven Nahnsen, EKUT, Tübingen<br>
          Uwe Ohler, MDC, Berlin<br>
          Stephan Ossowski, UKT, Tübingen<br>
          Annette Peters, HMGU, Munich<br>
          Olaf Rieß, UKT, Tübingen<br>
          Philip Rosenstiel, UKI, Kielbr>
          Julio Saez-Rodriguez, UHH, Heidelberg<br>
          Christoph Schickhardt, UHH, Heidelberg<br>
          Thorsten Schlomm, Charité, Berlin<br>
          Joachim Schultze, DZNE, Bonn<br>
          Oliver Stegle, DKFZ/EMBL, Heidelberg<br>
          Jörn Walter, UdS, Saarbrücken<br>
          Thomas Walter, EKUT, Tübingen<br>
          Juliane Winkelmann, HMGU & TUM, Munich<br>
          Eva Winkler, UHH, Heidelberg<br>
          Thomas Keane, EMBL-EBI, Cambridge, UK<br>
          Mario Fritz & Ninja Marnau, CISPA, Saarbrücken<br>
          Stephan Hachinger, LRZ, München<br>
          Alice McHardy, HZI, Braunschweig<br>
          Stefan Fröhling & Hanno Glimm, National Center for Tumor Diseases (NCT), Heidelberg & Dresden<br>
        </div>
    </div>
</section>
