<!-- Consortium Section -->
<section id="consortium" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Consortium</h2>
            <p class="body"> The key institutions of the GHGA consortium are
              the <b>German Cancer Research Center (DKFZ)</b>,
              the <b>University of Tübingen (EKUT)</b>, and the
              <b>European Molecular Biology Laboratory (EMBL)</b>.
            </p>
            <h2>Partner Institutions</h2>
            <p>
              University Hospital Tübingen, Tübingen <br>
              Charité, Berlin <br>
              Technische Universität München, München <br>
              Max Delbrück Cetner for Molecular Medicine, Berlin <br>
              Technische Universität Dresden, Dresden <br>
              University Hospital Heidelberg, Heidelberg <br>
              Heidelberger Akademie der Wissenschaften, Heidelberg <br>
              Universität zu Köln <br>
              Universitätsklinikum Schleswig-Holstein, Kiel <br>
              Helmholtz Zentrum München, München <br>
              Dt. Zentrum für Neurodegenerative Erkrankungen e.V., Bonn <br>
              Universität des Saarlandes, Saarbrücken <br>
              German National Cohort, Heidelberg
            </p>
            <h3>Principal Investigators</h3>
            <p>
            <ul>
              <li>Viktor Achter, UzK, Cologne</li>
              <li>Dieter Beule, MDC, Berlin</li>
              <li>Peer Bork, EMBL, Heidelberg</li>
              <li>Benedikt Brors, DKFZ, Heidelberg</li>
              <li>Ivo Buchhalter, DKFZ, Heidelberg</li>
              <li>Andreas Dahl, TU Dresden, Dresden</li>
              <li>Julien Gagneur, TUM, Munich</li>
              <li>Holm Graessner, UKT, Tübingen</li>
              <li>Wolfgang Huber, EMBL, Heidelberg</li>
              <li>Daniel Hübschmann, DKFZ, Heidelberg</li>
              <li>Michael Hummel, Charité, Berlin</li>
              <li>Dirk Jäger, UHH, Heidelberg</li>
              <li>Oliver Kohlbacher, EKUT, Tübingen</li>
              <li>Jan Korbel, EMBL, Heidelberg</li>
              <li>Jens Krüger, EKUT, Tübingen</li>
              <li>Martin Lablans, DKFZ, Heidelberg</li>
              <li>Ulrich Lang, UzK, Cologne</li>
              <li>Peter Lichter, DKFZ, Heidelberg</li>
              <li>Nisar Malek, UKT, Tübingen</li>
              <li>Thomas Meitinger, HMGU & TUM, Munich</li>
              <li>Fruzsina Molnár-Gábor, HAdW, Heidelberg</li>
              <li>Susanne Montameny, UzK, Cologne</li>
              <li>Wolfgang E. Nagel, TU Dresden, Dresden</li>
              <li>Sven Nahnsen, EKUT, Tübingen</li>
              <li>Uwe Ohler, MDC, Berlin</li>
              <li>Stephan Ossowski, UKT, Tübingen</li>
              <li>Annette Peters, HMGU, Munich</li>
              <li>Olaf Rieß, UKT, Tübingen</li>
              <li>Philip Rosenstiel, UKI, Kiel</li>
              <li>Julio Saez-Rodriguez, UHH, Heidelberg</li>
              <li>Christoph Schickhardt, UHH, Heidelberg</li>
              <li>Thorsten Schlomm, Charité, Berlin</li>
              <li>Joachim Schultze, DZNE, Bonn</li>
              <li>Oliver Stegle, DKFZ/EMBL, Heidelberg</li>
              <li>Jörn Walter, UdS, Saarbrücken</li>
              <li>Thomas Walter, EKUT, Tübingen</li>
              <li>Juliane Winkelmann, HMGU & TUM, Munich</li>
              <li>Eva Winkler, UHH, Heidelberg</li>
              <li>Thomas Keane, EMBL-EBI, Cambridge, UK</li>
              <li>Mario Fritz & Ninja Marnau, CISPA, Saarbrücken</li>
              <li>Stephan Hachinger, LRZ, München</li>
              <li>Alice McHardy, HZI, Braunschweig</li>
              <li>Stefan Fröhling & Hanno Glimm, National Center for Tumor Diseases (NCT), Heidelberg & Dresden</li>
            </ul>
            </p>
        </div>
    </div>
</section>
