    <!-- Events Section -->
    <section id="events" class="content-section text-center">
        <div class="partners-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 data-i18n="events.title"></h2>
                    <h3 data-i18n="events.item3.title"></h3>
                    <p data-i18n="[html]events.item3.content"></p>
                    <h3 data-i18n="events.item2.title"></h3>
                    <p data-i18n="[html]events.item2.content"></p>
                    <h3 data-i18n="events.item1.title"></h3>
                    <p data-i18n="[html]events.item1.content"></p>
                </div>
            </div>
        </div>
    </section>
