    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- 
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        -->
                        <br>
                        <br>
                        <br>
                        <hr>
                        <p class="intro-text">{{ site.description }}<br>
                            <p class="body">The German Genome-phenome Archive (GHGA) allows users to explore datasets from numerous genotype experiments, including case-control, population and family studies, that are supplied by a range of data providers.</p>
                        <a href="#about" class="page-scroll">
                            <i class="far fa-arrow-alt-circle-down animated fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
