    <!-- News Section -->
    <section id="jobs" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 data-i18n="jobs.title"></h2>
                </div></div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p data-i18n="jobs.introduction"></p>
                    <p>
                        <table class="table" style="table-layout:fixed" width="100%">
                            <thead>
                                <tr>
                                    <th style="text-align:left" width="50%" data-i18n="jobs.jobTitle"></th>
                                    <th style="text-align:right" width="50%" data-i18n="jobs.location"></th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr>
                                    <td style="text-align:left"><a href="https://jobs.dkfz.de/de/jobs/73210/senior-full-stack-developer" target="_blank">Senior Full Stack Developer</a></td>
                                    <td style="text-align:right">DKFZ Heidelberg, GHGA Office</td>
                                </tr>                                 <tr>
                                    <td style="text-align:left"><a href="https://jobs.dkfz.de/de/jobs/73208/software-developer" target="_blank">Software Developer</a></td>
                                    <td style="text-align:right">DKFZ Heidelberg, GHGA Office</td>
                                </tr>                                 <tr>
                                    <td style="text-align:left"><a href="https://jobs.dkfz.de/en/jobs/73197/system-administrator-cloud-specialist" target="_blank">System Admin / Cloud Specialist</a></td>
                                    <td style="text-align:right">DKFZ Heidelberg, GHGA Office</td>
                                </tr>
                                 <tr>
                                    <td style="text-align:left"><a href="https://uni-tuebingen.de/universitaet/stellenangebote/newsfullview-stellenangebote/article/scientific-staff-m-f-d-e-13-tv-l-100/" target="_blank">Scientific Staff (x2)</a></td>
                                    <td style="text-align:right">Uni Tübingen (Jens Krüger Group)</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left"><a href="https://karriere.klinikum.uni-heidelberg.de/index.php?ac=jobad&code=72zeWQUV3lA%2BGtRTtuPQC28ASIKdZT2GDukVnlqITE5CUh%2BOYViUEA%3D%3D" target="_blank">Medical Ethics Research Position</a></td>
                                    <td style="text-align:right">Uni Heidelberg (Eva Winkler Group)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">We are constantly looking for talents in software development and cloud computing with an interest in setting up a state-of the art infrastructure for genome research. Please contact <a href= "mailto:ghga-office@dkfz-heidelberg.de">ghga-office@dkfz-heidelberg.de </a> for further information</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>

                </div>
            </div>
        </div>
    </section>
