    <!-- News Section -->
    <section id="jobs" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Jobs</h2>
                </div></div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                        We are excited to offer multiple attractive positions at all GHGA partner sites:
                    </p>
                </div>

                <div class="clearfix visible-lg"></div>

                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                        <ul>
                            <li>
                                <a href="https://jobs.dkfz.de/en/jobs/42543/system-administrator-cloud-specialist">System Administrator / Cloud Specialist</a>
                            </li>
                            <li>
                                <a href="https://jobs.dkfz.de/en/jobs/42548/scientific-coordinator-of-the-german-human-genome-phenome-archive">Scientific Coordinator</a> of the German Human Genome-Phenome Archive
                            </li>
                            <li>
                                <a href="https://jobs.dkfz.de/en/jobs/42553/data-manager-data-steward">Data Manager / Data Steward</a>
                            </li>
                            <li>
                                <a href="https://jobs.dkfz.de/en/jobs/42504/software-developer-system-architect-for-the-implementation-of-a-federated-node-of-the-european-genome-phenome-archive">Software Developer / System Architect</a> for the implementation of a federated node of the European Genome-Phenome Archive
                            </li>
                            <li>
                                <a href="https://jobs.dkfz.de/en/jobs/42557/bioinformatician-computational-biologist">Bioinformatician / Computational Biologist</a>
                            </li>
                        </ul>
                    </p>

                </div>
            </div>
        </div>
    </section>
