    <!-- News Section -->
    <section id="jobs" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 data-i18n="jobs.title"></h2>
                </div></div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p data-i18n="jobs.introduction"></p>
                    <p>
                        <table class="table" style="table-layout:fixed" width="100%">
                            <thead>
                                <tr>
                                    <th style="text-align:left" width="60%" data-i18n="jobs.jobTitle"></th>
                                    <th style="text-align:right" width="40%" data-i18n="jobs.location"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:left"><a href="https://jobs.dkfz.de/en/jobs/53024/full-stack-developer" target="_blank">Full Stack Developer</a></td>
                                    <td style="text-align:right">Heidelberg / DKFZ</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left"><a href="https://jobs.dkfz.de/en/jobs/53030/system-administrator-cloud-specialist" target="_blank">System Administrator / Cloud Specialist</a></td>
                                    <td style="text-align:right">Heidelberg / DKFZ</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left"><a href="https://jobs.dkfz.de/en/jobs/53044/scientific-project-and-communications-manager" target="_blank">Scientific Project and Communications Manager</a></td>
                                    <td style="text-align:right">Heidelberg / DKFZ</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>

                </div>
            </div>
        </div>
    </section>
