<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fas fa-dna"></i>  <span class="light">GHGA</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" data-i18n="about.navTitle"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news" data-i18n="news.navTitle"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#jobs" data-i18n="jobs.navTitle"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#consortium" data-i18n="consortium.navTitle"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#communities" data-i18n="communities.navTitle"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" data-i18n="contact.navTitle"></a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/data" data-i18n="data.navTitle"></a>
                    </li>
                    <li class="dropdown-submenu nav-item">
                        <a class="dropdown-item dropdown-toogle" id="languageDropdown"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-i18n="language.navTitle"></a>
                        <div class="dropdown-menu" aria-labelledby="languageDropdown">
                            <a class="dropdown-item lang-select" lang-i18n="de">German</a>
                            <a class="dropdown-item lang-select" lang-i18n="en">English</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>