<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fas fa-dna"></i>  <span class="light">GHGA</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" data-i18n="about.title"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news" data-i18n="news.title"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#jobs" data-i18n="jobs.title"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#consortium" data-i18n="consortium.title"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#communities" data-i18n="communities.title"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" data-i18n="contact.title"></a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/data" data-i18n="data.title"></a>
                    </li>

                </ul>
            </div>

            <a href="#" class="lang-select">en</a>
            <a href="#" class="lang-select">de</a>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>