    <!-- News Section -->
    <section id="news" class="content-section text-center">
        <div class="partners-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>News</h2>
                    <h3>12. Feb. 2020 - GHGA.de Website Goes Online</h3>
                    <p>
                      The German Human Genome-Phenome Archive, which will be federated with the EGA, and which is designed to archive and facilitate analysis of human access controlled research data from Germany, has gone live today with a pilot version, distributing research data from Heidelberg and Tübingen. We look forward to its use by human biology, genetics and disease research communities.
                    </p>
                </div>
            </div>
        </div>
    </section>
