    <!-- News Section -->
    <section id="news" class="content-section text-center">
        <div class="partners-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 data-i18n="news.title"></h2>
                    <h3 data-i18n="news.item7.title"></h3>
                    <p data-i18n="[html]news.item7.content"></p>
                    <h3 data-i18n="news.item6.title"></h3>
                    <p data-i18n="[html]news.item6.content"></p>
                    <h3 data-i18n="news.item5.title"></h3>
                    <p data-i18n="[html]news.item5.content"></p>
                    <h3 data-i18n="news.item4.title"></h3>
                    <p data-i18n="[html]news.item4.content"></p>
                    <h3 data-i18n="news.item3.title"></h3>
                    <p data-i18n="[html]news.item3.content"></p>
                    <h3 data-i18n="news.item2.title"></h3>
                    <p data-i18n="[html]news.item2.content"></p>
                    <h3 data-i18n="news.item1.title"></h3>
                    <p data-i18n="[html]news.item1.content"></p></div>
                </div>
            </div>
    </section>
