    <!-- News Section -->
    <section id="news" class="content-section text-center">
        <div class="partners-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 data-i18n="news.title"></h2>

                    <h3 data-i18n="news.item1.title"></h3>
                    <p data-i18n="[html]news.item1.content"></div>
                    <h3 data-i18n="news.item2.title"></h3>
                    <p data-i18n="[html]news.item2.content"></div>

                </div>
            </div>
        </div>
    </section>
