<!-- team_members Section -->
<section id="team_members" class="content-section text-center">
    <div class="partners-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 data-i18n="team_members.title"></h2>
                <p data-i18n="[html]team_members.member1"></p>
                <p data-i18n="[html]team_members.member2"></p>
                <p data-i18n="[html]team_members.member3"></p>
                <p data-i18n="[html]team_members.member4"></p>
                <p data-i18n="[html]team_members.member5"></p>
                <p data-i18n="[html]team_members.member6"></p>
                <p data-i18n="[html]team_members.member7"></p>
                <p data-i18n="[html]team_members.member8"></p>
                <p data-i18n="[html]team_members.member9"></p>
                <p data-i18n="[html]team_members.member10"></p>
                <p data-i18n="[html]team_members.member11"></p>
                <p data-i18n="[html]team_members.member12"></p>
            </div>
        </div>
</section>