body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

table {
  caption-side: top;
}

.StudyCell {
  vertical-align: top;
  align-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.StudyDescriptionCell {
  /* font-size: smaller; */
  color: gray;
  padding-bottom: 1em;
}
