body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

table {
  caption-side: top;
}

.IdentifierCell {
  vertical-align: top;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  direction:rtl;
}

.StudyDescriptionCell {
  color: gray;
  padding-bottom: 1em;
}

.DatasetCheckbox {
  vertical-align:top;
  padding-left:0px;
  min-height: 0px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  font-weight: inherit;
  display:inline-block;
  white-space: nowrap;
}
