body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

table {
  caption-side: top;
}

.IdentifierCell {
  vertical-align: top;
  text-align: right;
  direction:rtl;
}

.StudyDescriptionCell {
  padding-bottom: 1em;
}

.DatasetCheckbox, .DatasetCheckboxDiv {
  vertical-align:top;
  padding-left:0px;
  min-height: 0px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  font-weight: inherit;
  white-space: nowrap;
}

.EllipsisText {
  vertical-align:top;
  padding-left:20px;
  min-height: 0px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  font-weight: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
